<section class="modal-section">

    <section class="modal">

        <div class="avatar-container">
            <img [src]="persona.picture.large" alt="">
        </div>

        <div class="info-container">
            <label>Name</label>
            <p class="name">{{persona.name.first}} {{persona.name.last}}</p>
            <label>Email</label>
            <p>{{persona.email}}</p>
            <label>Phone</label>
            <p>{{persona.phone}}</p>
            <label>Location</label>
            <p>{{persona.location.city}}, {{persona.location.country}}</p>
        </div>

    </section>

</section>

<button class="hide-button" (click)="onShowModal()"></button>